
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
.bodyindex{
    background-color: #deb489;
}
#cabeca{
    background-color: #3d2f2b;
}

.tit{
    font-size: 300%;
    color: #f6f3ee;
    text-align: center;
    font-family: "bondoni moda";
}
.link{
    font-size:x-large;
    color: #f6f3ee;
}
#titulogeral{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.divinicio{

}
.divperfil{

}
.divreceitas{

}
.divbsucar{

}
.divsobre{

}
.divsobre{

}
.divlogin{

}
