.bodyindex{
    background-color: #deb489;
}
#cabeca{
    background-color: #3d2f2b;
}
.link{
    font-size:x-large;
    color: #f6f3ee;
}
.titulo{
    color: #f6f3ee;
    font-family: 'Times New Roman', Times, serif;
}