/*
opentype - otf
truetype -ttf
*/

@font-face {
    font-family: 'qarinthen';
    src: url(Qarinthen.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'camiro';
    src: url(Camiro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bodyindex{
    background-color: #deb489;
}
#fundo{
    background-color: #3d2f2b;
    height: 175px;
}
#cabeca{
    background-color: #3d2f2b;
    display: flex;
    margin-left: 100px;
    margin-top: -100px;
    /* width: 200px; */
}
#cabeca2{
    background-color: #3d2f2b;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 250px;
    margin-top: -105px;
    /* width: 2000px; */
}

.tit{
    font-size: 300%;
    color: #f6f3ee;
    text-align: center;
    font-family: 'camiro';
    align-items: center;
    margin-top: -40px;
    margin-bottom: 0px;
    margin-right: -1850px;
}
.titu{
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    align-items: flex-end;
    width: 3px;
    height: 3px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;

}
.link{
    font-size:x-large;
    color: #f6f3ee;
    font-family: 'qarinthen';
}
#titulogeral{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

}

a{
    text-decoration: none;
}


#bodyperfil {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #deb489;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f3e6;
}

.form-container {
    background-color: #d0a08b;
    padding: 40px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
}

.form-container h2 {
    color: #fff;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #c29b74;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #b37f55;
}

.form-container p {
    color: #fff;
}

.form-container a {
    color: #fff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}
